

#carouselExampleDark {
    max-width: 95%;
    margin: auto;
}

.carousel-inner img { 
    
    height: 45vh;
}

.card_img img {
    max-height: 125px;
    min-height: 125px;
}

.card_img .col {
    min-width: 300px;
    max-width: 300px;
    margin: auto;
    transform: scale(1);
}

.card_img .col :hover{
    transform: scale(1.1,1.1);
}

.container_table{
    
    justify-content: center;
    margin: auto;
}

.container_sesion {
    max-width: 450px;
    min-width: 350px;
    border-radius: 0.5rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.3);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

footer{
    background-color: #0d6efd;
    height: 30vh;
    width: 100%;    
    color: white;
    margin-top: 110px;
}

.container_p_footer{
    margin-top: 1rem;
}

footer p{
    margin: 0;
}

@media screen and (min-width: 750px) {

    .container_table{
    max-width: 60vh;

    }

}

@media screen and (min-width: 1024px) {

    #carouselExampleDark {
        max-width: 65%;
        
    }


}